* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  /* push as far from one another as possible  */
  justify-content: space-between;
  /* center links in brand name */
  align-items: center;
  /* give the navbar a darker color */
  background-color: #333;
  /* text white */
  color: white;
}
.navbar-links {
}
