/* setting variables on root */
:root {
  --primary-color: rgba(13, 110, 139, 0.05);
  --overlay-color: rgba(24, 39, 51, 0.55);
  --menu-speed: 0.75s;
}

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; */
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}
.showcase {
  background-color: var(--primary-color);
  /* text color of the main page  */
  color: rgb(146, 45, 2);
  height: 100vh;
  /* relative so showcase can be absolute within it */
  position: relative;
}
/* create a ghost element that can be styled */
.showcase::before {
  content: "";
  background: url(./img1.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* the image is mostly covered by the blue color  */
  z-index: -1;
}
.showcase .showcase-inner {
  /*  use flexbox here  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.showcase h1 {
  font-size: 4rem;
}
.showcase p {
  /* 1 rem =  pixels of root htmel element default is 16 pixels*/
  font-size: 1.3rem;
}
.btn {
  /* using inline-block so that it works on links  */
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: rgb(146, 45, 2);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  /* adding transition to .btn:hover */
  transition: opacity 1s ease-in;
}
.btn:hover {
  opacity: 0.7;
}
/* this could be in its own css file  */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  /* the toggler is the check box positioning over the top  of the menu using z-index to make sure it stays on top and making the check box larger so it covers giving it an opacity of 0 so it is not seen */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
/* square with the lines inside of it  positioning it over the toggler and  menu items in the top left area.  Using z index to control it when it is seen*/
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* lines inside of the hamburger get the middle line immediate div syntax of >div 
this is creating a horizontal white line 
*/
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgb(55, 7, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition on all properties   */
  transition: all 0.4s ease;
}
/* using before and after psudo selector to  make the top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  /* using before and after psudo selector to  make the top and bottom lines */
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  /* inherit the white from the div */
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  /* getting all the stuff from above, so just move this one down 10px */
  top: 10px;
}
/* Toggle animation on click (checking the invisible check box) puts it into a checked state grabbing the toggler class to style  */
/*  the + hamburger>div so that it is transformed, not the check box.   */
.menu-wrap .toggler:checked + .hamburger > div {
  /* make middle div invisible and rotate bottom 90 deg counter clockwise and top div  clockwise 90 deg  */
  /* the transition of this is defined on the .menu-wrap.hamburger>div above */
  transform: rotate(135deg);
}
/* turn lines into x  */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
/* when the check box is checked rotate the x a bit */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* //////////////show the menu with the toggle of the check box */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  /* place menu in middle of the page and hide it */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* to begin with visibility is invisible */
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: var(--overlay-color);
  /* circle effect */
  border-radius: 50%;
  /* put outside the screen with 200s */
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  /* shoot out from middle effect transform and scale  
  */
  /* initially scaled down to 0 so it disappears */
  transform: scale(0);
  /* on check box click (toggle) scale to 1 with a transition  */
  transition: all 0.4s ease;
}
/* target the inner div  */
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
/* style the list items  */
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: rgb(55, 7, 80);
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
