/* setting variables on root */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51.85);
  --menu-speed: 0.75s;
}

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; */
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}
.showcase {
  background-color: var(--primary-color);
  color: aliceblue;
  height: 100vh;
  /* relative so showcase can be absolute within it */
  position: relative;
}
/* create a ghost element that can be styled */
.showcase::before {
  content: "";
  background: url(./img1.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* the image is mostly covered by the blue color  */
  z-index: -1;
}
.showcase .showcase-inner {
  /*  use flexbox here  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.showcase h1 {
  font-size: 4rem;
}
.showcase p {
  /* 1 rem =  pixels of root htmel element default is 16 pixels*/
  font-size: 1.3rem;
}
.btn {
  /* using inline-block so that it works on links  */
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: white;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.7;
}
